<% layout('layout/default') %>

<% block('plugin_css').append('<link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>') %>
<% block('plugin_css').append('<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>') %>
<% block('plugin_css').append('<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"/>') %>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Product Modules</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li><span>Modules</span></li>
                    <li><i class="fa fa-circle"></i> </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <%= new Date(Date.now()).toDateString()  %></li>
                    <li><i class="fa fa-circle"></i> </li>
                    <li><i class="glyphicon glyphicon-time"></i> <span id="timer"></span></li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <% include ../../errors/flash %>
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-list font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Modules</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 margin-bottom-20 margin-top-20">
                                    <form method="post" action="/modules/product" role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Filter By Product</label>
                                            <div class="col-md-6">
                                                <div class="col-md-9">
                                                    <select class="form-control bs-select" name="product" required>
                                                        <option value="">Select Product</option>
                                                        <% if(typeof products != "undefined"){ %>
                                                            <% products.forEach(function (product) {%>
                                                                <% if(product._id.equals(prodFilter)) { %>
                                                                    <option selected value="<%- product._id %>"><%- product.name %></option>
                                                                <% } else {%>
                                                                    <option value="<%- product._id %>"><%- product.name %></option>
                                                                <% } %>
                                                            <%}); %>
                                                        <% }%>
                                                        <option value="0" <%- (prodFilter == 0) ? 'selected' : ''%>>ALL PRODUCTS</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-primary pull-right" type="submit">Filter</button>
                                                </div>
                                            </div>
                                            <div class="caption pull-right">
                                                <h4><span class="font-blue sbold uppercase"><%- modules.length %> Modules</span></h4>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12 margin-bottom-10">
                                    <div class="btn-group">
                                        <button class="btn green add_module"> Add New <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <form method="post" id="menu_form">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-actions" id="module_table">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 1%;">#</th>
                                                        <th style="width: 20%;">Module</th>
                                                        <th style="width: 20%;">Product</th>
                                                        <th style="width: 26%;">Description</th>
                                                        <th style="width: 10%;">Status</th>
                                                        <th style="width: 8%;">Order</th>
                                                        <th style="width: 10%;">Image</th>
                                                        <th style="width: 5%;">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th style="width: 1%;">#</th>
                                                        <th style="width: 20%;">Module</th>
                                                        <th style="width: 20%;">Product</th>
                                                        <th style="width: 26%;">Description</th>
                                                        <th style="width: 10%;">Status</th>
                                                        <th style="width: 8%;">Order</th>
                                                        <th style="width: 10%;">Image</th>
                                                        <th style="width: 5%;">Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                <% if(modules && modules.length > 0) { %>
                                                    <% for(var i = 0; i < modules.length; i++) { %>
                                                        <tr>
                                                            <td class="text-center"><%= (i+1) %> </td>
                                                            <td>
                                                                <input placeholder="Module" class="form-control" required="required" name="names[]" type="text" value="<%= modules[i].name %>">
                                                                <input class="form-control" name="_ids[]" type="hidden" value="<%= modules[i]._id %>">
                                                            </td>
                                                            <td>
                                                                <select class="bs-select form-control" required="required" name="products[]">
                                                                    <option value="">-- Select Product --</option>
                                                                    <% if(typeof products != "undefined"){ %>
                                                                        <% products.forEach(function (product) { %>
                                                                            <% if(product._id.equals(modules[i].product)) { %>
                                                                                <option selected value="<%- product._id %>"><%- product.name %></option>
                                                                            <% } else { %>
                                                                                <option value="<%- product._id %>"><%- product.name %></option>
                                                                            <% } %>
                                                                        <% }); %>
                                                                    <% }%>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <textarea class="form-control" name="describes[]" placeholder="Optional Module Description"
                                                                ><%= (typeof modules[i].describe != 'undefined') ? modules[i].describe : '' %></textarea>
                                                            </td>
                                                            <td>
                                                                <select class="bs-select form-control" required="required" name="actives[]">
                                                                    <option value="">-- Status --</option>
                                                                    <% if(modules[i].active == true) { %>
                                                                        <option selected value="true">Active</option>
                                                                        <option value="false">Inactive</option>
                                                                    <% } else { %>
                                                                        <option value="true">Active</option>
                                                                        <option selected value="false">Inactive</option>
                                                                    <% } %>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input placeholder="Order" class="form-control" required="required" name="order_bys[]" type="text"
                                                                       value="<%= (typeof modules[i].order_by != 'undefined') ? modules[i].order_by : 1 %>">
                                                            </td>
                                                            <td>
                                                                <% if(typeof modules[i].image_url != 'undefined') { %>
                                                                <button class="btn btn-success btn-rounded btn-condensed btn-xs module_image"
                                                                        rel="<%= modules[i].image_url %>" value="<%= modules[i]._id %>">
                                                                    <span class="fa fa-file-picture-o"></span> Change
                                                                </button>
                                                                <% } else { %>
                                                                <button class="btn btn-info btn-rounded btn-condensed btn-xs module_image"
                                                                        rel="<%= -1  %>" value="<%= modules[i]._id %>">
                                                                    <span class="fa fa-file-picture-o"></span> Upload
                                                                </button>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-danger btn-rounded btn-condensed btn-xs delete_module">
                                                                    <span class="fa fa-trash-o"></span> Delete
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% }else { %>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td>
                                                            <input placeholder="Module" class="form-control" required="required" name="names[]" type="text" value="">
                                                            <input class="form-control" name="_ids[]" type="hidden" value="-1">
                                                        </td>
                                                        <td>
                                                            <select class="bs-select form-control" required="required" name="products[]">
                                                                <option value="">-- Select Product --</option>
                                                                <% if(typeof products != "undefined"){ %>
                                                                    <% products.forEach(function (product) {%>
                                                                        <option value="<%- product._id %>"><%- product.name %></option>
                                                                    <%}); %>
                                                                <% }%>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <textarea class="form-control" name="describes[]" placeholder="Optional Module Description"></textarea>
                                                        </td>
                                                        <td>
                                                            <select class="bs-select form-control" required="required" name="actives[]">
                                                                <option value="">-- Status --</option>
                                                                <option value="true">Active</option>
                                                                <option value="false">Inactive</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Order" class="form-control" required="required" name="order_bys[]" type="text" value="">
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <button class="btn btn-danger btn-rounded btn-condensed btn-xs">
                                                                <span class="fa fa-times"></span> Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                <% }%>
                                                </tbody>
                                            </table>
                                            <div class="form-actions noborder">
                                                <button class="btn green add_module"> Add New <i
                                                        class="fa fa-plus"></i></button>
                                                <button type="submit" class="btn blue pull-right">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN MODAL -->
<div id="module_image_modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/modules/image" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><strong>Module Image Upload</strong></h4>
                </div>
                <div class="modal-body" style="height: 400px">
                    <div class="alert alert-info"> Select The Image File You Wan To Upload</div>
                    <div id="image_error"></div>
                    <div class="form-group">
                        <input type="hidden" name="module_id" id="module_id" class="form-control">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 300px; height: 250px;" id="image_holder">

                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 250px;"> </div>
                            <div>
                                    <span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="module_image" id="module_image"></span>
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer margin-top-10">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    <button type="submit" id="confirm-upload" class="btn green" value="">Upload Image</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODAL -->

<% block('plugin_js').append('<script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>') %>
<% block('plugin_js').append('<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>') %>
<% block('plugin_js').append('<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>') %>
<% block('plugin_js').append('<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>') %>

<% block('plugin_js').append('<script src="../custom/js/modules/module.js" type="text/javascript"></script>') %>
