<% layout('layout/default') %>

<% block('plugin_css').append('<link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>') %>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Products</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li><span>Products</span></li>
                    <li><i class="fa fa-circle"></i> </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <%= new Date(Date.now()).toDateString()  %></li>
                    <li><i class="fa fa-circle"></i> </li>
                    <li><i class="glyphicon glyphicon-time"></i> <span id="timer"></span></li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <% include ../../errors/flash %>
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-list font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Products</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 margin-bottom-10">
                                    <div class="btn-group">
                                        <button class="btn green add_product"> Add New <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <form action="products" method="post" id="menu_form">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-actions" id="product_table">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 3%;">#</th>
                                                        <th style="width: 25%;">Product</th>
                                                        <th style="width: 10%;">Status</th>
                                                        <th style="width: 12%;">Order By</th>
                                                        <th style="width: 30%;">Description</th>
                                                        <th style="width: 10%;">Image</th>
                                                        <th style="width: 5%;">Modules</th>
                                                        <th style="width: 10%;">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th style="width: 3%;">#</th>
                                                        <th style="width: 25%;">Product</th>
                                                        <th style="width: 10%;">Status</th>
                                                        <th style="width: 12%;">Order By</th>
                                                        <th style="width: 30%;">Description</th>
                                                        <th style="width: 10%;">Image</th>
                                                        <th style="width: 5%;">Modules</th>
                                                        <th style="width: 10%;">Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                <% if(products && products.length > 0) { %>
                                                    <% for(var i = 0; i < products.length; i++) { %>
                                                    <tr>
                                                        <td class="text-center"><%= (i+1) %> </td>
                                                        <td>
                                                            <input placeholder="Product" class="form-control" required="required" name="names[]" type="text" value="<%= products[i].name %>">
                                                            <input class="form-control" name="_ids[]" type="hidden" value="<%= products[i]._id %>">
                                                        </td>
                                                        <td>
                                                            <select class="bs-select form-control" required="required" name="actives[]">
                                                                <option value="">-- Status --</option>
                                                                <% if(products[i].active == true) { %>
                                                                    <option selected value="true">Active</option>
                                                                    <option value="false">Inactive</option>
                                                                <% } else { %>
                                                                    <option value="true">Active</option>
                                                                    <option selected value="false">Inactive</option>
                                                                <% } %>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Order" class="form-control" required="required" name="order_bys[]" type="text"
                                                                   value="<%= (typeof products[i].order_by != 'undefined') ? products[i].order_by : 1 %>">
                                                        </td>
                                                        <td>
                                                            <textarea class="form-control" name="describes[]" placeholder="Product Description"
                                                            ><%= (typeof products[i].describe != 'undefined') ? products[i].describe : '' %></textarea>
                                                        </td>
                                                        <td>
                                                            <% if(typeof products[i].image_url != 'undefined') { %>
                                                                <button class="btn btn-success btn-rounded btn-condensed btn-xs product_image"
                                                                        rel="<%= products[i].image_url %>" value="<%= products[i]._id %>">
                                                                    <span class="fa fa-file-picture-o"></span> Change
                                                                </button>
                                                            <% } else { %>
                                                                <button class="btn btn-info btn-rounded btn-condensed btn-xs product_image"
                                                                        rel="<%= -1  %>" value="<%= products[i]._id %>">
                                                                    <span class="fa fa-file-picture-o"></span> Upload
                                                                </button>
                                                            <% } %>
                                                        </td>
                                                        <td><%- products[i].modules().length %></td>
                                                        <td>
                                                            <button class="btn btn-danger btn-rounded btn-condensed btn-xs delete_product">
                                                                <span class="fa fa-trash-o"></span> Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                <% } else { %>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>
                                                        <input placeholder="Product" class="form-control" required="required" name="names[]" type="text" value="">
                                                        <input class="form-control" name="_ids[]" type="hidden" value="-1">
                                                    </td>
                                                    <td>
                                                        <select class="bs-select form-control" required="required" name="actives[]">
                                                            <option value="">-- Status --</option>
                                                            <option value="true">Active</option>
                                                            <option value="false">Inactive</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input placeholder="Order" class="form-control" required="required" name="order_bys[]" type="text" value="">
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" name="describes[]" placeholder="Product Description"></textarea>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <button class="btn btn-danger btn-rounded btn-condensed btn-xs">
                                                            <span class="fa fa-times"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }%>
                                                </tbody>
                                            </table>
                                            <div class="form-actions noborder">
                                                <button class="btn green add_product"> Add New <i
                                                        class="fa fa-plus"></i></button>
                                                <button type="submit" class="btn blue pull-right">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN MODAL -->
<div id="product_image_modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/products/image" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><strong>Product Image Upload</strong></h4>
                </div>
                <div class="modal-body" style="height: 400px">
                    <div class="alert alert-info"> Select The Image File You Wan To Upload</div>
                    <div id="image_error"></div>
                        <div class="form-group">
                            <input type="hidden" name="product_id" id="product_id" class="form-control">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 300px; height: 250px;" id="image_holder">

                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 250px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="product_image" id="product_image"></span>
                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer margin-top-10">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    <button type="submit" id="confirm-upload" class="btn green" value="">Upload Image</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODAL -->
<% block('plugin_js').append('<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>') %>
<% block('plugin_js').append('<script src="../custom/js/products/product.js" type="text/javascript"></script>') %>
